<!-- Added echoing  of job title, number of jobs, and city name, -->
<html>
	<head>
		<title>Map Visualizations</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
    	<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> 
		<style>
		h1, h2,h3,h4,h5,h6{
			font-family: sans-serif;
			font-weight: 200;
		}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Map Visualizations</h1>
				<h1>Five Eleven</h1>
			</div>
			<h2>Cities with more than 5 Full Stack Jobs</h2>
			<div style="width:800px; height:800px" id="map"></div>
    <script>
	        var map = L.map('map').setView([40.8833, -100.0167], 4);
	        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	        maxZoom: 10,
	        id: 'matthewhan.42ba4143',
	        accessToken: 'pk.eyJ1IjoibWF0dGhld2hhbiIsImEiOiI1MzVmODIyNjM4NTg3MDQxODdkZGYzMjg2NWZkZjU5OSJ9.QKdXKW473FyRtb5F3S1fCg'
	        }).addTo(map);
	    </script>

        {% for object in info %}
        	{% if object.num_jobs > 5 and object.job_title == "Full Stack" %}
        	<script>
        		L.marker([{{object.latitude}}, {{object.longitude}}])
        		.addTo(map)
        		.bindPopup('City: {{object.city_name}}<br>' + ' Number of Jobs ' + {{object.num_jobs}} + '<br>Job Title: {{object.job_title}}')
        		.openPopup();
        	</script>
        	{% endif %}
		{% endfor %}
	    </script>
		</div>
	</body>
</html>