<!DOCTYPE html>
<html>
<head>
{% load static %}
	<title>Group Project</title>
	<link rel ="stylesheet" type= "text/css" href="././static/mapvisuals/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

	<script src='././static/mapvisuals/static/materialize/js/materialize.min.js'></script>
	<link rel="stylesheet" href='././static/mapvisuals/static/materialize/css/materialize.css'>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="././static/mapvisuals/static/materialize/js/materialize.min.js"></script>

	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js'></script>

	<link type="text/css" rel="stylesheet" href="././static/mapvisuals/static/materialize/materialize.min.css"  media="screen,projection"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> 
    <script src="http://d3js.org/d3.v3.min.js"></script>


   	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/d3/d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/lib/color-brewer.js' %}"></script>
    <script type="text/javascript" src="{% static 'mapvisuals/js/lib/leaflet-1.0.0-b1/leaflet-src.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/modules/angular-leaflet-directive.js' %}"></script>

	<script type="text/javascript" src="{% static 'mapvisuals/js/modules/modules.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/factories/factories.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/controllers/controllers.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/directives/directives.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/services/services.js' %}"></script>
	<script type="text/javascript" src="{% static 'mapvisuals/js/partialRoutes.js' %}"></script>
    <script>
    $(document).ready(function(){
  		$('select').material_select();
  		$('select').material_select('destroy');
    	$('ul.tabs').tabs('select_tab', 'test1,test2,test3');
  	});
	</script>
</head>
<body>
<div class="row" id = 'main'>
	<div class="col s12">
	<div class="container" id='mid'>
		<div class="row">
		<h1>FiveEleven Cohort</h1>
		<hr>
		</div>
		<div class="row">
		   	<div class="col s12 m8 l9">
		   	  <div class="row">
			      <ul class="tabs">
			        <li class="tab col s3"><a href="#tab1">Map 1</a></li>
			        <li class="tab col s3"><a href="#tab2">Map 2</a></li>
			        <li class="tab col s3"><a href="#tab3">Map 3</a></li>
			      </ul>
			    <div id="tab1" class="col s12">
			    	<div id ='graph' ng-app="app" class="container" ng-controller="MapController as main">
 						<leaflet event-broadcast="events" defaults="defaults" center="center" height="600px" width="1200px">
 						<div class="tooltip"></div>
 						</leaflet>
    				</div>
			    </div>
			    <div id="tab2" class="col s12">
					{% for result in results%}
					<p>{{result}}</p>
					{%endfor%}
				<div id='dashboard'>
				</div>
				<script>
				function dashboard(id, fData){
				    var barColor = 'steelblue';
				    function segColor(c){ return {Front:"#807dba", Back:"#e08214",Full:"#41ab5d"}[c]; }
				    
				    // compute total for each state.
				    fData.forEach(function(d){d.total=d.freq.Front+d.freq.Back+d.freq.Full;});
				    
				    // function to handle histogram.
				    function histoGram(fD){
				        var hG={},    hGDim = {t: 60, r: 0, b: 30, l: 0};
				        hGDim.w = 800 - hGDim.l - hGDim.r, 
				        hGDim.h = 300 - hGDim.t - hGDim.b;
				            
				        //create svg for histogram.
				        var hGsvg = d3.select(id).append("svg")
				            .attr("width", hGDim.w + hGDim.l + hGDim.r)
				            .attr("height", hGDim.h + hGDim.t + hGDim.b).append("g")
				            .attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");

				        // create function for x-axis mapping.
				        var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
				                .domain(fD.map(function(d) { return d[0]; }));

				        // Add x-axis to the histogram svg.
				        hGsvg.append("g").attr("class", "x axis")
				            .attr("transform", "translate(0," + hGDim.h + ")")
				            .call(d3.svg.axis().scale(x).orient("bottom"));

				        // Create function for y-axis map.
				        var y = d3.scale.linear().range([hGDim.h, 0])
				                .domain([0, d3.max(fD, function(d) { return d[1]; })]);

				        // Create bars for histogram to contain rectangles and freq labels.
				        var bars = hGsvg.selectAll(".bar").data(fD).enter()
				                .append("g").attr("class", "bar");
				        
				        //create the rectangles.
				        bars.append("rect")
				            .attr("x", function(d) { return x(d[0]); })
				            .attr("y", function(d) { return y(d[1]); })
				            .attr("width", x.rangeBand())
				            .attr("height", function(d) { return hGDim.h - y(d[1]); })
				            .attr('fill',barColor)
				            .on("mouseover",mouseover)// mouseover is defined below.
				            .on("mouseout",mouseout);// mouseout is defined below.
				            
				        //Create the frequency labels above the rectangles.
				        bars.append("text").text(function(d){ return d3.format(",")(d[1])})
				            .attr("x", function(d) { return x(d[0])+x.rangeBand()/2; })
				            .attr("y", function(d) { return y(d[1])-5; })
				            .attr("text-anchor", "middle");
				        
				        function mouseover(d){  // utility function to be called on mouseover.
				            // filter for selected state.
				            var st = fData.filter(function(s){ return s.State == d[0];})[0],
				                nD = d3.keys(st.freq).map(function(s){ return {type:s, freq:st.freq[s]};});
				               
				            // call update functions of pie-chart and legend.    
				            pC.update(nD);
				            leg.update(nD);
				        }
				        
				        function mouseout(d){    // utility function to be called on mouseout.
				            // reset the pie-chart and legend.    
				            pC.update(tF);
				            leg.update(tF);
				        }
				        
				        // create function to update the bars. This will be used by pie-chart.
				        hG.update = function(nD, color){
				            // update the domain of the y-axis map to reflect change in frequencies.
				            y.domain([0, d3.max(nD, function(d) { return d[1]; })]);
				            
				            // Attach the new data to the bars.
				            var bars = hGsvg.selectAll(".bar").data(nD);
				            
				            // transition the height and color of rectangles.
				            bars.select("rect").transition().duration(500)
				                .attr("y", function(d) {return y(d[1]); })
				                .attr("height", function(d) { return hGDim.h - y(d[1]); })
				                .attr("fill", color);

				            // transition the frequency labels location and change value.
				            bars.select("text").transition().duration(500)
				                .text(function(d){ return d3.format(",")(d[1])})
				                .attr("y", function(d) {return y(d[1])-5; });            
				        }        
				        return hG;
				    }
				    
				    // function to handle pieChart.
				    function pieChart(pD){
				        var pC ={},    pieDim ={w:250, h: 250};
				        pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;
				                
				        // create svg for pie chart.
				        var piesvg = d3.select(id).append("svg")
				            .attr("width", pieDim.w).attr("height", pieDim.h).append("g")
				            .attr("transform", "translate("+pieDim.w/2+","+pieDim.h/2+")");
				        
				        // create function to draw the arcs of the pie slices.
				        var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);

				        // create a function to compute the pie slice angles.
				        var pie = d3.layout.pie().sort(null).value(function(d) { return d.freq; });

				        // Draw the pie slices.
				        piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
				            .each(function(d) { this._current = d; })
				            .style("fill", function(d) { return segColor(d.data.type); })
				            .on("mouseover",mouseover).on("mouseout",mouseout);

				        // create function to update pie-chart. This will be used by histogram.
				        pC.update = function(nD){
				            piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
				                .attrTween("d", arcTween);
				        }        
				        // Utility function to be called on mouseover a pie slice.
				        function mouseover(d){
				            // call the update function of histogram with new data.
				            hG.update(fData.map(function(v){ 
				                return [v.State,v.freq[d.data.type]];}),segColor(d.data.type));
				        }
				        //Utility function to be called on mouseout a pie slice.
				        function mouseout(d){
				            // call the update function of histogram with all data.
				            hG.update(fData.map(function(v){
				                return [v.State,v.total];}), barColor);
				        }
				        // Animating the pie-slice requiring a custom function which specifies
				        // how the intermediate paths should be drawn.
				        function arcTween(a) {
				            var i = d3.interpolate(this._current, a);
				            this._current = i(0);
				            return function(t) { return arc(i(t));    };
				        }    
				        return pC;
				    }
				    
				    // function to handle legend.
				    function legend(lD){
				        var leg = {};
				            
				        // create table for legend.
				        var legend = d3.select(id).append("table").attr('class','legend');
				        
				        // create one row per segment.
				        var tr = legend.append("tbody").selectAll("tr").data(lD).enter().append("tr");
				            
				        // create the first column for each segment.
				        tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
				            .attr("width", '16').attr("height", '16')
							.attr("fill",function(d){ return segColor(d.type); });
				            
				        // create the second column for each segment.
				        tr.append("td").text(function(d){ 
				        	if (d.type == 'Full'){
				        		return d.type + ' Stack';
				        	}
				        	else{
				        		return d.type + ' End';
				        	}});

				        // create the third column for each segment.
				        tr.append("td").attr("class",'legendFreq')
				            .text(function(d){ return d3.format(",")(d.freq);});

				        // create the fourth column for each segment.
				        tr.append("td").attr("class",'legendPerc')
				            .text(function(d){ return getLegend(d,lD);});

				        // Utility function to be used to update the legend.
				        leg.update = function(nD){
				            // update the data attached to the row elements.
				            var l = legend.select("tbody").selectAll("tr").data(nD);

				            // update the frequencies.
				            l.select(".legendFreq").text(function(d){ return d3.format(",")(d.freq);});

				            // update the percentage column.
				            l.select(".legendPerc").text(function(d){ return getLegend(d,nD);});        
				        }
				        
				        function getLegend(d,aD){ // Utility function to compute percentage.
				            return d3.format("%")(d.freq/d3.sum(aD.map(function(v){ return v.freq; })));
				        }

				        return leg;
				    }
				    
				    // calculate total frequency by segment for all state.
				    var tF = ['Front','Back','Full'].map(function(d){ 
				        return {type:d, freq: d3.sum(fData.map(function(t){ return t.freq[d];}))}; 
				    });    
				    
				    // calculate total frequency by state for all segment.
				    var sF = fData.map(function(d){return [d.State,d.total];});

				    var hG = histoGram(sF), // create the histogram.
				        pC = pieChart(tF), // create the pie-chart.
				        leg= legend(tF);  // create the legend.
				}
				</script>

				<script>
				d3.json('/jensrocks', function(data){
					freqData = data;
					console.log(freqData);

				dashboard('#dashboard',freqData);
				})
				</script>
			    </div>
			    <div id="tab3" class="col s12">Test 3</div>
			  </div>
      		</div>
		</div>	
	</div>
	</div>
</div>
</body>
</html>